@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: gray;
    --background-end-rgb: gray;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}

.BackgroundFrame0{
  background-image: url('../public/Frame1.png');
  background-repeat: no-repeat;
  background-size: 60%;

}
.BackgroundFrame1{
  background-image: url('../public/Frame3.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 60%;
}
.BackgroundFrame2{
  background-image: url('../public/frame2.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60%;
}
.BackgroundFrame3{
  background-image: url('../public/Frame4.png');
  background-repeat: no-repeat;
  background-position: bottom ;
  background-size: 60%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
